@charset "UTF-8";

 *{
   margin: 0px;
 }
 body{
   display: flex;
 }
 .topMenu{
   width: 17vw;
   height: 100vh;
   background-color: #060D2A; 
   color: white;
   font-size: 30px;
 }
 .topMenu div{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .topMenu img{
   width: 60px;
   height: 60px;
   margin: 5px;
 }
 .topMenu h1{
   font-size: 25px;
 }
 .topMenu #userName{
   font-size: 20px;
   margin-top: 15px;
   margin-bottom: 30px;
 }
 .topMenu ul{
   list-style-type: none;
 }
 .topMenu ul li{
   width: 160px;
   background-color: white;
   text-align: center;
   color: black;
   font-weight: bolder;
   margin-bottom: 40px;
   border-radius: 10px;
 }
 .topMenu nav a{
   text-decoration: none;
 }
 nav a:hover li{
   background-color: skyblue;
 }
 nav a:active li{
   color: red;
 }
 .topSide {
   width: 83vw;
   height: 10vh;
   display: flex;
 }
 .topSide ul{
   list-style-type: none;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px auto;
 }
 .topSide ul li{
   width: 230px;
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   color: rgb(173, 173, 36);
   align-items: center;
 }
 .topSide a:link{
   text-decoration: none;
 }
 .topSide a:hover{
   background-color: antiquewhite;
   border-radius: 40px;
 }
 .centerSide{
   width: 83vw;
   height: 80vh;
   background-color: rgb(247,244,227);
 }
 .bottomSide{
   width: 83vw;
   height: 10vh;
   display: flex;
 }